/* my coustom styles */
.primary-color{
    background-color: #B68C5A!important;
}
.title-color{
    color: #414040;
}
.text-color{
    font-size: 16px;
    font-weight: 400;
    color: #707070!important;
}
.right-angle{
    font-size: 16px;
    color: #707070;
}
.footer-text-color{
    color: #a8a4a4;
}
.send-icon{
    font-size: 18px;
    color: #ffffff;
    background-color: #B68C5A;
    margin-left: -7px;
}
@media only screen and (max-width: 576px){
    .coustom-media{
        width: auto!important;
        margin-top: 0% !important;
        padding-top: 0%!important;
    }

    .font-size-title{
        font-size: 100%!important;
    }
    .font-size-description{
        font-size: 80%!important;
        line-height: 100%!important;
    }
    
}
