/* my coustom styles */
.primary-color{
    background-color: #B68C5A!important;
}
.title-color{
    color: #414040;
}
.text-color{
    font-size: 16px;
    font-weight: 400;
    color: #707070!important;
}
.right-angle{
    font-size: 16px;
    color: #707070;
}
.slider-height{
    height: 50%!important;
}
